src/main/mule/Deposit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core
                          http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http
                          http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/ee/core
                          http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">


    <http:listener-config name="HTTP_Listener_config_2" doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>

    <flow name="deposit-flow" doc:name="Deposit Flow">
        <http:listener doc:name="Listener" config-ref="HTTP_Listener_config_2" path="/deposit" />
        <try doc:name="Try">
            <ee:transform doc:name="Validate and Transform Input">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        accountNumber: payload.accountNumber,
                        amount: payload.amount
                    }]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <http:request method="POST" url="http://internal-service/deposit" doc:name="Process Deposit">
                <http:body ><![CDATA[#[payload]]]></http:body>
            </http:request>
            <error-handler doc:name="Error Handler">
                <on-error-continue doc:name="On Error Continue">
                    <logger level="ERROR" doc:name="Error Logger" message="Deposit error: #[error.description]"/>
                </on-error-continue>
            </error-handler>
        </try>
        <logger level="INFO" doc:name="Success Logger" message="Depósito concluído: #[payload]"/>
    </flow>
</mule>
