src/main/mule/Security.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core
                          http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http
                          http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/ee/core
                          http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="HTTP_Listener_config_7" doc:name="HTTP Listener config 7">
        <http:listener-connection host="0.0.0.0" port="8087" />
    </http:listener-config>

    <!-- Fluxo para Aplicativos Móveis -->
    <flow name="mobile-apps-flow" doc:name="Mobile Apps Flow">
        <http:listener doc:name="Listener" config-ref="HTTP_Listener_config_7" path="/mobile-apps" />
        
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                output application/json
                ---
                {
                    "status": "Success",
                    "message": "Request received for mobile app interaction."
                }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" message="#[payload]" />
    </flow>

    <!-- Fluxo para Biometria e Autenticação de Dois Fatores -->
    <flow name="biometric-2fa-flow" doc:name="Biometric &amp; 2FA Flow">
    
        <http:listener doc:name="Listener" config-ref="HTTP_Listener_config_7" path="/biometric-2fa" />
        
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                output application/json
                ---
                {
                    "status": "Success",
                    "message": "2FA/Biometric authentication initiated.",
                    "authDetails": payload
                }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" message="#[payload]" />
    </flow>

    <!-- Fluxo para IA e Chatbots -->
    <flow name="ai-chatbots-flow" doc:name="AI &amp; Chatbots Flow">
        <http:listener doc:name="Listener" config-ref="HTTP_Listener_config_7" path="/ai-chatbots" />
        
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                output application/json
                ---
                {
                    "status": "Success",
                    "message": "Interaction with AI/Chatbot initiated.",
                    "chatDetails": payload
                }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" message="#[payload]" />
    </flow>
</mule>
