src/main/mule/Transfer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core
                          http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http
                          http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/ee/core
                          http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="HTTP_Listener_config_1" doc:name="HTTP Listener config 1">
      <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config> 

    <flow name="transfer-flow" doc:name="Transfer Flow">
        <http:listener doc:name="HTTP Listener" config-ref="HTTP_Listener_config_1" path="/transfer" />
        <try doc:name="Try Block">
            <ee:transform doc:name="Transform Input">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                        accountNumber: payload.accountNumber,
                        amount: payload.amount,
                        destinationAccount: payload.destinationAccount
                    }]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <http:request method="POST" url="http://internal-service/transfer" doc:name="Transfer Request">
                <http:body ><![CDATA[#[payload]]]></http:body>
            </http:request>
            <error-handler doc:name="ErrorHandler">
                <on-error-continue doc:name="OnErrorContinue">
                    <logger level="ERROR" doc:name="Error Logger" message="Transfer error: #[error.description]"/>
                </on-error-continue>
            </error-handler>
        </try>
        <logger level="INFO" doc:name="Success Logger" message="Transferência concluída: #[payload]"/>
    </flow>
</mule>
